amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.0
Babel==2.3.4
billiard==3.3.0.23
celery==3.1.18
Django==1.8.6
django-easy-pdf==0.1.0
django-flat-theme==1.1.4
django-material==0.11.0
django-widget-tweaks==1.4.1
django-wpadmin==1.7.4
flower==0.9.1
gunicorn==19.6.0
html5lib==1.0b10
httplib2==0.10.2
kombu==3.0.37
mysqlclient==1.3.9
packaging==16.8
Pillow==2.9.0
pyparsing==2.1.10
PyPDF2==1.26.0
pytz==2016.10
redis==2.10.3
reportlab==3.3.0
six==1.10.0
sorl-thumbnail==12.3
tornado==4.2
webencodings==0.5
xhtml2pdf==0.2b1
