{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block heading %}Dashboard{% endblock %}

{% block content %}
<div class="col-md-3">
	<h4 style="margin-left: 50px;">Total Stock Article In Brand</h4>
	<canvas height="400" style="width: auto;" id="dataset_total_article_by_brand"></canvas>
</div>

<div class="col-md-8">
	<h4>Informasi Performa Admin</h4>
	<table class="table table-striped table-condensed">
		<tr>
			<th>User (Admin)</th>
			<th>Hold</th>
			<th>Process</th>
			<th>Ready</th>
			<th>Pending</th>
			<th>Cancel</th>
			<th>Finish</th>
		</tr>
		{% for admin_performance in dataset_sale_admin_performance %}
		<tr>
			<td>{{ admin_performance.user__username }}</td>
			{% if admin_performance.hold %}
				<td>{{ admin_performance.hold }}</td>
			{% else %}
				<td>-</td>
			{% endif %}

			{% if admin_performance.process %}
				<td>{{ admin_performance.process }}</td>
			{% else %}
				<td>-</td>
			{% endif %}

			{% if admin_performance.ready %}
				<td>{{ admin_performance.ready }}</td>
			{% else %}
				<td>-</td>
			{% endif %}

			{% if admin_performance.pending %}
				<td>{{ admin_performance.pending }}</td>
			{% else %}
				<td>-</td>
			{% endif %}

			{% if admin_performance.cancel %}
				<td>{{ admin_performance.cancel }}</td>
			{% else %}
				<td>-</td>
			{% endif %}

			{% if admin_performance.finish %}
				<td>{{ admin_performance.finish }}</td>
			{% else %}
				<td>-</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>

	<h4>Informasi Invoice Yang Tidak Valid !</h4>
	<small class="text-danger">
		Perhatian, invoice yang sudah dibuat tidak boleh ditinggalkan begitu saja tanpa
		terisi data-data artikel yang mau dipesan, billing dan shipping. Jika tidak, 
		sistem akan menghapus secara berkala untuk mengembalikan stok barang dan membersihkan
		invoice yang invalid. Informasi ini akan ditindak lanjuti sebagai laporan per cutoff untuk
		memberikan sanksi (maybeee :D)
	</small>
	<small class="text-info">
		Pastikan jika anda ingin membatalkan invoice, klik tombol <code>remove</code>
	</small>

	<br>
	<br>

	<table class="table table-striped table-condensed">
		<tr>
			<th>Pembuat Invoice</th>
			<th>Jumlah Invoice yang ditinggalkan begitu saja (invalid)</th>
		</tr>
		{% for invalid_invoice in dataset_informasi_invalid_invoice %}
		<tr>
			<td>{{ invalid_invoice.user__username }}</td>
			<td><span class="label label-danger">{{ invalid_invoice.user__username__count }}</span></td>
		</tr>
		{% empty %}
		<tr>
			<td rowspan="2">Tidak ada invoice yang tidak valid ! sangat bagus !</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'bower_components/chart.js/Chart.min.js' %}"></script>

<script>
	var ctx_dataset_total_article_in_brand = document.getElementById('dataset_total_article_by_brand').getContext('2d')
	var dataset_total_article_in_brand = JSON.parse("{{ dataset_total_article_by_brand|escapejs }}");

	var data_dataset_total_article_in_brand = {
	    labels: dataset_total_article_in_brand.brand_name,
	    datasets: [
	        {
	            label: "Total Article In Brand",
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	            ],
	            borderWidth: 1,
	            data: dataset_total_article_in_brand.sum_stock,
	        }
	    ]
	};
	
	var barchart_dataset_total_article_in_brand = new Chart(ctx_dataset_total_article_in_brand).Bar(data_dataset_total_article_in_brand);
</script>
{% endblock %}