{% if request.user.is_authenticated %}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DMS <small>Starter</small></a>
    </div>

    <!-- ============================================================ -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- ============================================================ -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <!-- =================== --> 
        <!-- Left section navbar -->
        <!-- =================== -->
        <ul class="nav navbar-nav">

          <!-- ========================= -->
          <!-- Dashboard navigation menu -->
          <!-- ========================= -->
          <li><a href="{% url 'aplbase:dashboard' %}">Dashboard</a></li>

          <!-- ====================== -->
          <!-- Distro navigation menu -->
          <!-- ====================== -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Distro <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'apldistro:store_detail' %}">Store</a></li>
              <li><a href="{% url 'apldistro:brand_list' %}">Brand</a></li>
              <!-- <li><a href="#">Profile</a></li> -->
            </ul>
          </li>

          <!-- ========================= -->
          <!-- Inventory navigation menu -->
          <!-- ========================= -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'aplinventory:sizecategory_list' %}">Size Category</a></li>
              <li><a href="{% url 'aplinventory:productcategory_list' %}">Product Category</a></li>
              <li><a href="{% url 'aplinventory:product_list' %}">Product</a></li>
              <li><a href="{% url 'aplinventory:article_list' %}">Article</a></li>
            </ul>
          </li>

          <!-- =========================== -->
          <!-- Transaction navigation menu -->
          <!-- =========================== -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transaction <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'apltransaction:invoiceweb_list' %}">Invoice Web</a></li>
              <li><a href="{% url 'apltransaction:invoicestore_list' %}">Invoice Store</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'apltransaction:ajax_invoice_remove_hold_and_invalid' %}">Remove Hold</a></li>
            </ul>
          </li>

          <!-- =========================== -->
          <!-- Transaction navigation menu -->
          <!-- =========================== -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporting <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'aplreport:reporting_sale_store' %}">Reporting Sale Store</a></li>
              <li><a href="{% url 'aplreport:reporting_sale_web' %}">Reporting Sale Web</a></li>
              <li><a href="{% url 'aplreport:reporting_sale_article' %}">Reporting Sale Article</a></li>
              <li><a href="{% url 'aplreport:ReportingStockArticle' %}">Report Stock Article</a></li>
            </ul>
          </li>

          <!-- ========================= -->
          <!-- Promotion navigation menu -->
          <!-- ========================= -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Promotion <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'aplpromotion:DiscountList' %}">Discount</a></li>
            </ul>
          </li>
      </ul>

      <!-- ==================== -->
      <!-- Right section navbar -->
      <!-- ==================== -->
      <ul class="nav navbar-nav navbar-right">

        <!-- ==================== -->
        <!-- Help navigation menu -->
        <!-- ==================== -->
        <li><a href="#" data-toggle="modal" data-target="#myModal">About App</a></li>

        <li><a href="{% url 'apldistro:brand_list' %}"><i class="glyphicon glyphicon-tag"></i> {{ request.session.session_brand_name }}</a></li>
        
        <!-- ==================== -->
        <!-- User navigation menu -->
        <!-- ==================== -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">User {{ request.user }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

{% else %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EFG Admin</a>
    </div>

    <!-- ============================================================ -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- ============================================================ -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- ==================== -->
      <!-- Right section navbar -->
      <!-- ==================== -->
      <ul class="nav navbar-nav navbar-right">
        
        <!-- ===================== -->
        <!-- Login navigation menu -->
        <!-- ===================== -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
{% endif %}