{% extends "base_admin.html" %}
{% load thumbnail %}

{% block title %}User & Profile{% endblock %}

{% block company_header %}All Basic Store{% endblock %}

{% block page_header %}Profile Users{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-sm">
                <i class="fa fa-info-circle fa-fw"></i>
                To add a new user, please contact the team <span class="label label-primary">IT Backend</span>.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">User list</div>
                <div class="panel-body">

                    <table class="table table-condensed">
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Profile</th>
                            <th>Status</th>
{#                            <th>Action</th>#}
                        </tr>

                        {% for user in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.profile %}
                                        {% thumbnail user.profile.photo "50" as im %}
                                            <img src="{{ im.url }}" alt="{{ user.username }}" class="img-rounded">
                                            <br>
                                        {% endthumbnail %}
                                        <a href="{% url 'apldistro:profile_detail' user.username %}">
                                            {{ user.profile.nickname }}
                                        </a>
                                    {% else %}
                                        <a href="{% url 'apldistro:profile_add' user.username %}">
                                            <i class="fa fa-user-plus fa-fw"></i> Add profile
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.is_staff %}
                                        <span class="label label-info">Staff</span>
                                    {% elif user.is_active %}
                                        <span class="label label-primary">Active</span>
                                    {% else %}
                                        <span class="label label-danger">Not Active</span>
                                    {% endif %}
                                </td>
{#                                <td>#}
{#                                    <a href="#" ><i class="fa fa-pencil fa-fw"></i></a>#}
{#                                </td>#}
                            </tr>
                        {% empty %}
                            <tr><td colspan="8">User is empty ! Please, contact your IT Backend Team.</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}