{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Add Size{% endblock %}

{% block heading %}Add Size{% endblock %}

{% block content %}
<div class="col-lg-12">
    <form action="" class="form-inline" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Size:</label>
            {{ form.name|add_class:'form-control' }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <span class="help-block text-danger">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>

<br>

<div class="col-lg-12">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Atribute Name</th>
            <th>Action</th>
        </tr>
        {% for size in sizes %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ size.name }}</td>
            <td>
                <a href="#">change</a> | 
                <a href="#">remove</a>
            </td>
            </tr>
        {% empty %}
            <tr>
            <td colspan="3">Empty</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}