{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Add Shipping{% endblock %}

{% block heading %}Add Shipping{% endblock %}



{% block content %}
<div class="col-md-12">
    <table class="table table-bordered">
        <tr>
            <th>Invoice Number</th>
            <td>{{ invoice.invoice_number }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td id="total" data-total="{{ invoice.total }}">{{ invoice.total }}</td>
        </tr>
    </table>
</div>

<br>

<div class="col-md-12">
    <form action="" method="post" role="form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            <label for="{{ form.province.id_for_label }}">Province:</label>
            {{ form.province|add_class:'form-control' }}
            {% if form.province.errors %}
                {% for error in form.province.errors %}
                    <span class="help-block text-danger">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.city.id_for_label }}">City:</label>
            {{ form.city|add_class:'form-control' }}
            {% if form.city.errors %}
                {% for error in form.city.errors %}
                    <span class="help-block text-danger">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.vendor.id_for_label }}">Vendor:</label>
            {{ form.vendor|add_class:'form-control' }}
            {% if form.vendor.errors %}
                {% for error in form.vendor.errors %}
                    <span class="help-block text-danger">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.pack.id_for_label }}">Package:</label>
            {{ form.pack|add_class:'form-control' }}
            {% if form.pack.errors %}
                {% for error in form.pack.errors %}
                    <span class="help-block text-danger">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.price.id_for_label }}">Price:</label>
            {{ form.price|add_class:'form-control' }}
            {% if form.price.errors %}
                {% for error in form.price.errors %}
                    <span class="help-block text-danger">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.address.id_for_label }}">Address:</label>
            {{ form.address|add_class:'form-control' }}
            {% if form.address.errors %}
                {% for error in form.address.errors %}
                    <span class="help-block text-danger">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Save & Complete</button>
        <a href="{% url 'apltransaction:transactiondetailweb_add' invoice.invoice_number %}" class="btn btn-default">Back To Invoice</a>
    </form>
</div>

<!-- ================ -->
<!-- JNE modal widget -->
<!-- ================ -->
<div class="modal fade" id="myModalJNE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">JNE</h4>
      </div>
      <div class="modal-body">
        <div data-theme="light" id="rajaongkir-widget"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ==================== -->
<!-- SICEPAT modal widget -->
<!-- ==================== -->
<div class="modal fade" id="myModalSICEPAT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sicepat</h4>
      </div>
      <div class="modal-body">
        <div data-origin="CGK" data-theme="light" id="sicepat-widget"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="//rajaongkir.com/script/widget.js"></script>
<script type="text/javascript" src="http://widget.sicepat.com/script.js"></script>
{% endblock %}