body {
        width: 8.5in;
        margin: 0 auto;
        }
.label{
    /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
    width: 2.475in; /* plus .6 inches from padding */
    height: 26mm;/*height: .875in;*/ /* plus .125 inches from padding */
    /*padding: .125in .3in 0;*/

    margin-right: 0 auto; /* the gutter */

    float: left;

    text-align: center;
    overflow: hidden;
    padding-top: 5px;
    font-family: Arial;
    /*font-weight: bold;*/
    margin-left: 10px;
    }
    
.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
    }

span {
    text-align: center;

    padding-bottom: 5px;
    font-family: Arial;
    font-size: 10pt;
    position: relative;
    left: -20px;
    padding-top: 2px;
    display:block;
}