<ul class="nav navbar-top-links navbar-right">

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> {{ request.user.username }}</a>
            </li>

            {% if request.session.session_brand_name %}
            <li>
                <a href="{% url 'apldistro:brand_list' %}"><i class="fa fa-tag fa-fw"></i> {{ request.session.session_brand_name }}</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'apldistro:brand_list' %}"><i class="fa fa-warning fa-fw"></i> Not connected brand</a>
            </li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{% url 'aplaccount:account_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
</ul>